.btn{
  background-color: aliceblue;
}
.ka{
    color:#ffff ;
}
.nave{
    background-image:url(./images/image-header.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
   height: 650px;
   width: 100%;
}
.p {
  animation: animet 2s linear infinite;
}

@keyframes animet {

  0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(-25px) ;
  }

}
.div {
  margin-top: 25%;
}
.ima{
  width: 100%;
}
 .imag{
width: 100%;
}
.imma{
 width: 100%; 
} 
.wold{
  width: 100%;
}
.section{
  background-color: rgb(125, 235, 198);
  height: 50vh;
}
.about{
  color: #ffff;
  margin-top: 10%;
  display: flex;
  justify-content:space-around;
  text-align: center;

}
.ram{
  display: flex; 
   justify-content:center;
  text-align: center;
}
.fa:hover{
    color: #ffff !important;
} 
.desi{
  position: absolute;
  margin-top: -15%;
  margin-left: 15%;
}
.hr{
  width: 10%;
  margin-left: 45%;
  color: rgb(234, 8, 8);

}
.f{
  text-decoration: underline rgb(228, 12, 12) ;
  font-size: 50px;
  border-radius: 8%;
}
.lear{
  text-decoration:underline rgb(16, 222, 47);
  font-size: 50px;
}